
@{
    ViewBag.Title = "CHS Student Face Recognition Application";
}
<div ng-controller="dashboardCtrl">
    <h3>CHS Student Face Recognition Appliction using Microsoft Azure Cognitive Services</h3>
    <p>This web application captures image of an student and displays various features of an individual like age, gender, hair color etc..</p>
    <p>This application also identifies student based on various images of student loaded and after training the facial alogorithm</p>
</div>


@section NgScript{
    <script src="~/ScriptsNg/DashboardCtrl.js"></script>
}
